<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <meta http-equiv="refresh" content="5">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCcnO8mzDl1CT-3pQDVooUKsJd_OPRgA60"></script>
  
  <script type="text/javascript">
    function initialize() {
      var myLatLng = new google.maps.LatLng(53.477131, -2.254062);
      var mapOptions = {
        zoom: 18,
        center: myLatLng,
        mapTypeId: 'roadmap'
      };
      const levels = ['low', 'medium', 'high'];
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      
      var coords = <%= coords %>;
      var pinImageLow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFFF00", new google.maps.Size(21, 34), new google.maps.Point(0, 0), new google.maps.Point(10, 34));
      var pinImageMedium = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF8800", new google.maps.Size(21, 34), new google.maps.Point(0, 0), new google.maps.Point(10, 34));
      var pinImageHigh = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000", new google.maps.Size(21, 34), new google.maps.Point(0, 0), new google.maps.Point(10, 34));
      var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
        new google.maps.Size(40, 37),
        new google.maps.Point(0, 0),
        new google.maps.Point(12, 35));
      for (var i = 0; i < coords.length; i++) {
        var coord = coords[i];
        var pinImage = pinImageLow;
        if (levels[coord[0]] === 'high') pinImage = pinImageHigh;
        if (levels[coord[0]] === 'medium') pinImage = pinImageMedium;

        var marker = new google.maps.Marker({
          position: { lat: coord[1], lng: coord[2] },
          map: map,
          icon: pinImage,
          shadow: pinShadow,
          title: levels[coord[0]],
          zIndex: 3-coord[0]
        });
      }

      var alerts = <%- JSON.stringify(alerts) %>;

      for (var i = 0; i < alerts.length; i++) {
        var alert = alerts[i];
        var alertImage = pinImageLow;
        if (levels[alert['threatlevel']] === 'high') alertImage = pinImageHigh;
        if (levels[alert['threatlevel']] === 'medium') alertImage = pinImageMedium;

        var marker = new google.maps.Marker({
          position: { lat: +alert['lat'], lng: +alert['lon'] },
          map: map,
          animation: google.maps.Animation.BOUNCE,
          icon: alertImage,
          shadow: pinShadow,
          title: levels[alert[0]],
          zIndex: 3-alert[0]
        });
      }
    }

  </script>
</head>

<body onload="initialize()">
  <!-- Can even take the body tag into this partial, although probably bad practice! -->