body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.high{
  color: red;
  font-weight: bold;
}

.medium{
  color: orange;
  font-weight: bold;
}

.low{
  color: yellow;
  font-weight: bold;
}

