<div class="col"  style="max-width:100%">
  <div class="card">
      <div class="card-body">
          <img class="card-img-top" src="<%= '/img/circuits/maps/' + circuit.circuitId +'.png' %>" alt="Card image cap"> 
          <img class="card-img-top" src="<%= '/img/circuits/heros/' + circuit.circuitId +'.jpeg' %>" alt="Card image cap"> 
          <h4 class="card-title"><%= circuit.name %></h4>
          <p class="card-text">Wiki: <a href="<%= circuit.wiki %>">click here</a></p>
        </div>
  </div>
</div>